// Tables
.mat-table__wrapper {
    width: 100%;
    overflow-x: auto;

    mat-cell,
	mat-header-cell {
		min-height: 100%;
	}

    .mat-table {
        min-width: 1000px;

        .mat-cell, 
        .mat-footer-cell, 
        .mat-header-cell {
            padding-right: 10px;
        }

        .mat-cell:first-of-type, 
        .mat-footer-cell:first-of-type, 
        .mat-header-cell:first-of-type {
            padding-left: 10px !important;
        }
        
        .mat-cell:last-child, 
        .mat-footer-cell:last-child, 
        .mat-header-cell:last-child {
            padding-right: 0;
        }
            
        .mat-row {
            transition: padding 0.3s ease;
        }

        .mat-row-editing {
            transition: padding 0.3s ease;
            padding: 12px 0 !important;

            .mat-form-field-fluid {
                width: 99% !important;
            }
        }
    }

    .mat-column-actions {
        .mat-column-actions-wrapper {
            display: flex;
            align-items: center;
        }
        .mat-spinner {
            margin-left: 12px;
            margin-right: 8px;
        }
    }

    .mat-column-action {
        .mat-column-action-wrapper {
            display: flex;
            align-items: center;
        }
    }

    .mat-table__message {
        padding: 30px !important;
        text-align: center;
        font-weight: 500;
    }

    .mat-column-checkbox {
         padding-left: 20px;

        .mat-checkbox {
            .mat-checkbox-layout {
                margin-top: 0.25rem;
                margin-bottom: 0.25rem;
            }
        }
    }

    .mat-column{
        min-width: 40px;
    }

    .ps__rail-y {
        z-index: 100;
    }
}

.mat-table__wrapper .mat-table {
	min-width: 1000px;
	width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
	min-width: 600px !important;
}

.mat-table__wrapper .mat-table .email-cell {
	word-wrap: normal;
	width: 180px;
	flex: auto;
}

.mat-table__wrapper .mat-table .description-cell {
	word-wrap: normal;
	width: 250px !important;
	flex: auto;
}

.mat-table__wrapper .mat-table .center-cell {
    display:flex;
    justify-content:center;
}

.mat-table__wrapper .mat-table .action-center-cell {
    word-wrap: normal;
    display:flex;
    flex: 0 0 60px !important;
    justify-content:center;
}

.mat-table__wrapper--sub .mat-table {
	min-width: 400px;

	.mat-cell:last-child {
		flex: 0 0 100px;
	}

	.mat-header-cell:last-child {
		flex: 0 0 100px;
	}
}

.mat-table-sticky {
    z-index: 97 !important;
}

.mat-table__bottom {
    display: flex;
    align-items: center;
    justify-content:  flex-end;
}

.mat-column-num {
	flex: 0 0 50px;
}

.mat-column-id {
	flex: 0 0 68px;
}

.mat-column-checkbox {
	flex: 0 0 40px;
}

.mat-column-total {
	flex: 0 0 70px;
}

.mat-column-estado {
	flex: 0 0 80px;
}

.mat-column-legajo {
	flex: 0 0 95px;
}

.mat-column-fecha {
	flex: 0 0 95px;
}

.mat-column-fecha-long {
	flex: 0 0 110px;
}

.mat-column-actions {
	flex: 0 0 120px;
}

.mat-column-main {
	flex: 0 0 568px;
}

.mat-column-actions-large {
	flex: 0 0 128px !important;
}

.mat-column-action {
	flex: 0 0 60px !important;
}

.mat-column-20 {
	flex: 0 0 20px !important;
}

.mat-column-25 {
	flex: 0 0 25px !important;
}

.mat-column-30 {
	flex: 0 0 30px !important;
}

.mat-column-35 {
	flex: 0 0 35px !important;
}

.mat-column-40 {
	flex: 0 0 40px !important;
}

.mat-column-45{
	flex: 0 0 45px !important;
}

.mat-column-50 {
	flex: 0 0 50px !important;
}

.mat-column-55 {
	flex: 0 0 55px !important;
}

.mat-column-60 {
	flex: 0 0 60px !important;
}

.mat-column-65 {
	flex: 0 0 65px !important;
}

.mat-column-70 {
	flex: 0 0 70px !important;
}

.mat-column-75 {
	flex: 0 0 75px !important;
}

.mat-column-80 {
	flex: 0 0 80px !important;
}

.mat-column-85 {
	flex: 0 0 85px !important;
}

.mat-column-90 {
	flex: 0 0 90px !important;
}

.mat-column-95 {
	flex: 0 0 95px !important;
}

.mat-column-100 {
	flex: 0 0 100px !important;
}

.mat-column-110 {
	flex: 0 0 110px !important;
}

.mat-column-120 {
	flex: 0 0 120px !important;
}

.mat-column-130 {
	flex: 0 0 130px !important;
}

.mat-column-140 {
	flex: 0 0 140px !important;
}

.mat-column-150 {
	flex: 0 0 150px !important;
}

.mat-column-160 {
	flex: 0 0 160px !important;
}

.mat-column-170 {
	flex: 0 0 170px !important;
}

.mat-column-180 {
	flex: 0 0 180px !important;
}

.mat-column-190 {
	flex: 0 0 190px !important;
}

.mat-column-200 {
	flex: 0 0 200px !important;
}

.mat-column-210 {
	flex: 0 0 210px !important;
}

.mat-column-220 {
	flex: 0 0 220px !important;
}

.mat-column-230 {
	flex: 0 0 230px !important;
}

.mat-column-240 {
	flex: 0 0 240px !important;
}

.mat-column-250 {
	flex: 0 0 250px !important;
}

.mat-column-260 {
	flex: 0 0 260px !important;
}

.mat-table__bottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.mat-column-vinCode {
	flex: 0 0 170px;
}

.mat-table__wrapper .mat-table .mat-row-editing.mat-row-inactive {
	height: 0;
	min-height: 0;
	padding: 0 !important;
	border-bottom: 0 !important;
}

.mat-header-row {
    min-height: 40px;
}

.mat-row {
    min-height: 30px !important;
}
