<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h3>Iniciar Sesión</h3>
		</div>
		<kt-auth-notice></kt-auth-notice>
		<!--begin::Form-->
		<form class="kt-form" [formGroup]="loginForm" autocomplete="off">
		
		</form>

		<div class="kt-login__options">
			<a class="kt-login__logo">
				<img src="./assets/media/logos/empresa-cliente.svg" alt="Logo Empresa" onerror="this.src='./assets/media/logos/empresa-cliente.svg'" width="100" height="auto">
			</a>
		</div>
	</div>
	<!--end::Signin-->
</div>
<!--end::Body-->
